.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--dark);
}

.root {
  box-sizing: content-box;
  width: 100%;
  max-width: 1200px;
  display: grid;
  padding: 80px 20px;
  grid-row-gap: 24px;
  grid-template-areas:
    'h1 h1'
    'f1 f2'
    'h2 h2'
    'c1 c1'
    'c2 c2';
  @media (--tablet-vertical) {
    padding: 100px 32px;
    grid-row-gap: 32px;
    grid-template-areas:
    'h1 h1'
    'f1 f2'
    'h2 h2'
    'c1 c2';
  }

  @media (--tablet-landscape) {
    grid-row-gap: 40px;
    padding: 120px 60px;
  }

  @media (--desktop) {
    padding: 120px 120px;
    grid-row-gap: 60px;
    grid-template-areas:
    'h1 f1 f2'
    'h2 c1 c2';
  }
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: white;

  @media (--tablet-landscape) {
    font-size: 32px;
  }

  @media (--tablet-landscape) {
    font-size: 42px;
  }
}

.founders {
  margin-top: 24px;
  width: 100%;
  display: flex;
  gap: 20px;

  @media (--tablet-vertical) {
    gap: 28px;
  }

  @media (--tablet-landscape) {
    gap: 152px;
  }

  @media (--desktop) {
    margin-top: 0;
    gap: 104px;
  }
}

.founder {
  display: flex;
  flex-direction: column;
  width: 150px;

  @media (--tablet-vertical) {
    width: 310px;
  }
}

.name {
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: white;
}

.position {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: white;
  opacity: .6;
  margin-top: 2px;
}

.socialLinks {
  margin-top: 10px;
  display: flex;
  gap: 18px;

  & path {
    fill: white;
    fill-opacity: .3;
  }
}

.founderImageWrapper {
  border: 4px solid var(--orange);
  background-color: var(--orange);
  border-radius: 16px;
  overflow: hidden;
  width: 150px;
  height: 150px;

  @media (--tablet-vertical) {
    width: 300px;
    height: 300px;
  }
}

.socialLink {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
  margin-top: 32px;

  @media (--tablet-vertical) {
    grid-template-columns: 1fr 1fr;
  }
}

.teamMember {
  display: flex;
  gap: 24px;
}

.teamMemberName {
  margin-top: 0;
}

.teamMemberImageWrapper {
  width: 82px;
  height: 82px;
  border: 3px solid var(--purple);
  background-color: var(--purple);
  border-radius: 16px;
  overflow: hidden;
}

.teamMemberInfos {
  display: flex;
  flex-direction: column;
}

.teamColumn {
  display: flex;
  flex-direction: column;
  grid-row-gap: 24px;
}