.inner {
  position: relative;
  padding: 61px 0 61px;

  @media (--tablet-vertical) {
    padding: 66px 0 66px;
  }
}

.title {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 24px;

  @media (--tablet-vertical) {
    margin-bottom: 30px;
  }
}

.coloredSpan {
  display: block;

  @media (--tablet-landscape) {
    display: unset;
  }
}

.tabs {
  z-index: 1;
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
}

.pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 1px;
}

.bullet {
  position: relative;
  width: 51px;
  height: 5px;
  border-radius: 10px;
  background: var(--dark--grey);
  opacity: 1;
  margin-top: 42px !important;

  &:only-child {
    margin-top: 0 !important;
  }

  &::after {
    content: '';
    display: block;
    border-radius: 10px;
    width: 0%;
    height: 100%;
    background: var(--accent-secondary-color);
  }

  &.active {
    &::after {
      transition: inherit;
      width: 100%;
    }
  }

  @media (--tablet-vertical) {
    margin-top: 63px !important;
  }
}

.backgroundCircle {
  top: 87px;
  right: -400px;
  transform: translate3d(0, 0, 0) rotate(-30deg);
}

.teamMore {
  display: flex;
  background-color: var(--tranparent-grey);
  border-radius: 16px;
  width: 100%;
  max-width: 280px;
  transition: background 0.2s;

  &:active {
    background: var(--card-hover-gradient);
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background: var(--card-hover-gradient);
    }
  }
}

.teamMoreInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 38px 22px 22px;
  min-height: 352px;
  width: fit-content;
  min-width: 100%;
}

.teamMoreTitle {
  color: var(--white);
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  margin: 0;
}

.teamMoreText {
  color: var(--white);
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  opacity: 0.6;
  margin: 0;
}
