.root {
  position: relative;
  display: flex;
  padding: 60px 20px 20px;
  overflow-x: hidden;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  color: var(--dark);
}

.header {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.description {
  margin: 16px 0 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  opacity: .6;
}

.link {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}

.socialLinks {
  margin-top: 32px;
  display: flex;
  column-gap: 20px;
}

.icon {
  width: 28px;
  height: 28px;
  &:hover path {
    fill: var(--purple);
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--dark);
  margin-top: 80px;
  gap: 40px;

  @media (--tablet-vertical) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.infoLinks {
  display: flex;
  flex-direction: column;
  gap: 28px 50px;

  @media (--tablet-vertical) {
    flex-direction: row;
  }
}

.infoLink {
  cursor: pointer;
  opacity: .6;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.grid {
  bottom: 0;
  position: absolute;
  z-index: -1;
}
