.root {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  opacity: 1;

  &:hover {
    background: transparent;
  }
}

.root svg path[fill] {
  fill: var(--white);
}

.root svg path[stroke] {
  stroke: var(--white);
}
