.root {
  z-index: 1;
  background-color: var(--light);
  padding: 80px 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (--tablet-vertical) {
    padding: 100px 30px 20px;
  }

  @media (--tablet-landscape) {
    padding: 100px 60px 20px;
  }

  @media (--desktop) {
    padding: 100px 120px 20px;
  }
}

.header {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--dark);
  margin-bottom: 20px;
  z-index: 0;
  @media (--tablet-vertical) {
    font-size: 32px;
  }

  @media (--tablet-landscape) {
    font-size: 42px;
  }
}

.projectsList {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  z-index: 1;

  @media (--tablet-vertical) {
    margin-top: 32px;
  }

  @media (--tablet-landscape) {
    margin-top: 40px;
  }
}

.cardLink {
  max-width: 1200px;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

.card {
  position: relative;
  z-index: 2;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 16px;
  width: 100%;
  display: grid;
  padding: 20px 20px 4px;
  grid-gap: 16px;
  align-items: start;
  transition: .3s;
  max-width: 1200px;
  overflow: hidden;
  grid-template-areas:
    'h'
    'd'
    't'
    'l'
    'o';

  &:hover {
    border-color: var(--purple);

    & .cardHeader {
      color: var(--purple);
    }
  }

  @media (--tablet-vertical) {
    padding: 32px 32px 16px;
  }

  @media (--tablet-landscape) {
    padding: 32px 40px 16px;
  }

  @media (--desktop) {
    grid-template-columns: 437px 1fr;
    grid-template-areas:
      'h h'
      'd t'
      'l o';
    grid-column-gap: 40px;
  }
}

.juni {
  padding: 20px 20px 0;
  grid-template-areas:
    'h'
    'd'
    't'
    'l'
    'o'
    'b';

  @media (--tablet-vertical) {
    padding: 32px 40px 0;
  }

  @media (--desktop) {
    padding: 32px 40px 10px;
    grid-template-columns: 437px 1fr;
    grid-template-areas:
      'h h'
      'd t'
      'l o';
  }
}

.cardHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--dark);

  transition: color, .3s;

  @media (--tablet-vertical) {
    font-size: 20px;
  }

  @media (--desktop) {
    grid-area: h;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--dark);
  opacity: .6;

  @media (--desktop) {
    grid-area: d;
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (--desktop) {
    grid-area: t;
  }
}

.mainTechnologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: max-content;

}

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: var(--dark);
}

.otherTechnologies {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--dark);
}

.otherTechnologiesLabel {
  opacity: .6;
}

.projectLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;

  @media (--desktop) {
    margin-top: 20px;
  }
}

.projectsVisibilityButton {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 138%;
  color: var(--dark);
  cursor: pointer;
  transition: .3s;
  z-index: 1;

  @media (--desktop) {
    &:hover {
      border-color: var(--purple);
    }
  }
}

.badge {
  grid-area: b;
  width: 100%;
  margin-left: -80px;
  margin-top: -50px;
  @media (--desktop) {
    position: absolute;
    top: -10px;
    right: -60px;
    margin: 0;

    width: 100%;
    height: 120px;

    display: flex;
    justify-content: flex-end;
  }
}