.root {
  background-color: var(--background);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 61px 0 61px;

  @media (--tablet-vertical) {
    padding: 66px 0 66px;
  }
}

.header {
  z-index: 0;
  text-align: center;
  margin-bottom: 36px;

  @media (--tablet-vertical) {
    margin-bottom: 60px;
  }
}

.projectsList {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  z-index: 1;

  @media (--tablet-vertical) {
    margin-top: 32px;
  }

  @media (--tablet-landscape) {
    margin-top: 40px;
  }
}

.cardLink {
  max-width: 1200px;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

.card {
  position: relative;
  z-index: 2;
  background: transparent;
  border: 1px solid var(--card-border);
  border-radius: 16px;
  width: 100%;
  display: grid;
  padding: 20px 20px 42px;
  grid-gap: 16px;
  align-items: start;
  max-width: 1200px;
  overflow: hidden;
  grid-template-areas:
    'h'
    'd'
    'l'
    't'
    'o';
  transition: all 0.2s;

  &:active {
    background: var(--card-hover-gradient);

    .arrow {
      opacity: 1;
    }
  }

  @media (--tablet-vertical) {
    padding: 32px 40px 32px;
  }

  @media (--desktop) {
    &:hover,
    &:focus {
      background: var(--card-hover-gradient);

      .arrow {
        opacity: 1;
      }
    }

    grid-template-columns: 437px 1fr;
    grid-template-areas:
      'h h'
      'd t'
      'l o';
    grid-column-gap: 40px;
  }
}

.juni {
  padding: 20px 20px 0;
  grid-template-areas:
    'h'
    'd'
    't'
    'l'
    'o'
    'b';

  @media (--tablet-vertical) {
    padding: 32px 40px 0;
  }

  @media (--desktop) {
    padding: 32px 40px 10px;
    grid-template-columns: 437px 1fr;
    grid-template-areas:
      'h h'
      'd t'
      'l o';
  }
}

.cardHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--white);

  @media (--tablet-vertical) {
    font-size: 20px;
  }

  @media (--desktop) {
    grid-area: h;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--light-grey);

  @media (--desktop) {
    grid-area: d;
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (--desktop) {
    grid-area: t;
  }
}

.mainTechnologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: max-content;
}

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: #06090c;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: var(--white);
}

.otherTechnologies {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--white);
}

.otherTechnologiesLabel {
  color: var(--light-grey);
}

.projectLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  grid-area: l;

  @media (--desktop) {
    margin-top: 20px;
  }
}

.partner {
  width: 170px;
  height: 50px;
  color: var(--light-grey);
}

.arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--white);
  opacity: 0.2;
  transition: all 0.2s;
}

.projectsVisibilityButton {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  border: 1px solid var(--card-border);
  color: var(--white);
  z-index: 1;
  background: transparent;
}

.badge {
  grid-area: b;
  width: 100%;
  margin-left: -80px;
  margin-top: -50px;
  color: var(--white);

  @media (--desktop) {
    position: absolute;
    top: -10px;
    right: -60px;
    margin: 0;

    width: 100%;
    height: 120px;

    display: flex;
    justify-content: flex-end;
  }
}

.badgeLogo {
  width: 300px;
  height: 120px;
}

.badgeLogo path {
  fill: currentColor;
}

.BackgroundCircle {
  top: 40px;
  left: -190px;
  transform: translate3d(0, 0, 0) rotate(-16deg);

  @media (--tablet-vertical) {
    top: 250px;
  }
}
