.root {
  background-color: var(--background);
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  padding: 61px 0 61px;

  @media (--tablet-vertical) {
    padding: 66px 0 66px;
  }
}

.header {
  z-index: 1;
  text-align: center;
  margin: 0 auto 36px;
  max-width: 360px;

  @media (--tablet-vertical) {
    margin: 0 auto 48px;
    max-width: 524px;
  }

  @media (--tablet-landscape) {
    max-width: 1000px;
  }
}

.title {
  margin-bottom: 16px;

  @media (--tablet-vertical) {
    margin-bottom: 24px;
  }
}

.description {
  @media (--tablet-landscape) {
    margin: 0 auto;
    max-width: 710px;
  }
}

.vacationsList {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  align-items: center;
  margin-bottom: 34px;

  @media (--tablet-vertical) {
    margin-bottom: 40px;
  }
}

.vacationCard {
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  background: var(--background);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  display: grid;
  grid-row-gap: 20px;
  padding: 42px 30px;
  cursor: pointer;
  grid-template-areas:
    'n a'
    's s'
    'p p'
    't t'
    'ts ts';
  transition: all 0.2s;

  &:active {
    background: var(--card-hover-gradient);

    .arrow {
      opacity: 1;
    }
  }

  @media (--tablet-vertical) {
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'n n a'
      's p t'
      'ts ts ts';
    padding: 32px 40px;
  }

  @media (--tablet-landscape) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'n n n a'
      's p t ts';
    padding: 24px 40px;
  }

  @media (--desktop) {
    grid-template-columns: 5fr repeat(3, 4fr) 9fr;
    grid-template-areas: 'n s p t ts a';
    align-items: start;

    &:hover,
    &:focus {
      background: var(--card-hover-gradient);

      .arrow {
        opacity: 1;
      }
    }
  }
}

.arrow {
  width: 24px;
  height: 24px;
  grid-area: a;
  justify-self: end;
  color: var(--white);
  opacity: 0.2;
  transition: all 0.2s;

  @media (--desktop) {
    align-self: center;
  }
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--white);
  grid-area: n;
  margin-bottom: 20px;

  @media (--tablet-vertical) {
    font-size: 20px;
  }

  @media (--desktop) {
    margin: 0;
  }
}

.attributeValue {
  & .label {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: var(--light-grey);
    margin-bottom: 4px;
  }

  & .value {
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: var(--white);
  }
}

.sphere {
  grid-area: s;
}

.position {
  grid-area: p;
}

.type {
  grid-area: t;
}

.techStack {
  grid-area: ts;
}

.contactsText {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--white);

  @media (--tablet-vertical) {
    font-size: 16px;
    line-height: 200%;
  }
}

.links {
  cursor: pointer;
}
