@import './variables.css';
@import './media.css';
@import './mailchimp.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

body {
  background-color: var(--background);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#main-layout {
  display: grid;
  grid-template-rows: 1fr;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.accentPrimaryText {
  color: var(--accent-primary);
}

.accentSecondaryText {
  background: var(--accent-secondary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid {
  position: absolute;
  width: 800px;

  @media (--tablet-vertical) {
    width: 1200px;
  }
}

.topGrid {
  top: 0;
  transform: rotate(180deg);
}

.bottomGrid {
  bottom: 0;
}

.backgroundLinesWrapper {
  position: absolute;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundLines {
  width: 100%;
  height: 100%;
  max-width: 260px;
  z-index: 0;

  @media (--tablet-vertical) {
    min-width: 1200px;
    min-height: 408px;
  }
}
