:root {
  --white: #fff;
  --orange: #ff721c;
  --button-gradient-primary: linear-gradient(45deg, #ee6512, #ff721b);
  --button-gradient-secondary: linear-gradient(30deg, #6d60ff, #6062ff);
  --background: #010305;
  --dark-blue: #0c1335;
  --light-grey: #798289;
  --indent-horziontal-mobile: 30px;
  --indent-horizontal-tablet-s: 30px;
  --indent-horizontal-tablet-m: 60px;
  --indent-horizontal-desktop: 120px;
  /* old */
  --light: #f8fafc;
  --dark: #0f172a;
  --vertical-linear-gradient: linear-gradient(
    180deg,
    #0f172a 0%,
    #464abc 99.63%
  );
  --horizontal-linear-gradient: linear-gradient(
    87.14deg,
    #0f172a 0%,
    #6062ff 100.16%
  );
  --orange-hover: #ff740f;
  --purple: #6062ff;
  --purple-hover: #4244d7;
  --grey: #e1e7f4;
  --grey-dark: #b3c2e5;
  --red: #ff3333;
  --green: #27b927;
}
