.wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: auto;
}

.root {
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;

  padding: 16px;

  @media (--tablet-vertical) {
    padding: 0 30px;
  }

  @media (--tablet-landscape) {
    padding: 0 80px;
  }

  @media (--desktop) {
    padding: 0 120px;
  }
}