.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--background);
  background-image: url('/images/main-block-bg--mobile-compressed.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 192px;
    background: linear-gradient(
      to bottom,
      rgba(1, 3, 5, 0) 0%,
      rgba(1, 3, 5, 0.91) 60%,
      rgba(1, 3, 5, 1) 100%
    );
  }

  @media (--tablet-vertical) {
    &::after {
      height: 421px;
    }
  }

  @media (--tablet-landscape) {
    &::after {
      height: 192px;
    }
  }

  @media (--desktop) {
    background-image: url('/images/main-block-bg--desktop-compressed.png');
  }
}

.spline {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spline canvas {
  /* width: 50% !important;
  height: 50% !important;
  transform: scale(300%); */

  /* @media (--desktop) {
    width: 100% !important;
    height: 100% !important;
    transform: none;
  } */
}

.inner {
  pointer-events: none;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 130px;

  @media (--tablet-vertical) {
    padding-bottom: 100px;
  }

  @media (--desktop) {
    padding-bottom: 157px;
  }
}

.title {
  white-space: pre-wrap;
  margin-bottom: 16px;

  @media (--tablet-vertical) {
    margin-bottom: 28px;
  }
}

.subtitle {
  margin-bottom: 36px;
  max-width: 529px;

  @media (--tablet-vertical) {
    margin-bottom: 54px;
  }
}

.button {
  pointer-events: auto;
  text-align: start;
  border-radius: 100px;
  max-width: 295px;

  @media (--tablet-vertical) {
    max-width: max-content;
  }
}

.backgroundCircle {
  display: none;

  @media (--desktop) {
    display: block;
    transform: translate3d(0, 0, 0) rotate(-30deg);
    top: 50px;
    left: -160px;
  }
}
