.root {
  background: var(--vertical-linear-gradient);
  padding: 0 20px 58px;
  height: calc(100vh - 58px);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow-x: hidden;

  @media (--tablet-vertical) {
    padding: 0 32px 72px;
    height: calc(100vh - 72px);
  }

  @media (--tablet-landscape) {
    padding: 0 60px 72px;
  }

  @media (--desktop) {
    padding: 0 233px 72px;
  }
}

.mainLabel {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  max-width: 320px;

  @media (--tablet-vertical) {
    font-size: 42px;
    max-width: 656px;
  }

  @media (--tablet-landscape) {
    font-size: 64px;
    max-width: 904px;
  }

  @media (--desktop) {
    max-width: 960px;
  }
}

.descriptionText {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  max-width: 320px;

  @media (--tablet-vertical) {
    margin-top: 20px;
    font-size: 18px;
    max-width: 487px;
  }

  @media (--tablet-landscape) {
    margin-top: 32px;
    font-size: 20px;
    max-width: 750px;
  }
}

.directionsList {
  margin-top: 33px;
  display: grid;
  grid-gap: 22px;
  font-size: 14px;
  grid-template-areas:
    't f'
    'b s'
    'c c'
    'm m';

  @media (--tablet-vertical) {
    margin-top: 44px;
    font-size: 16px;
    grid-template-areas:
      't b f'
      'm c s';
    grid-row-gap: 30px;
    grid-column-gap: 50px;
  }

  @media (--tablet-landscape) {
    font-size: 18px;
    grid-template-areas:
      't b m'
      'c f s';
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;

  @media (--tablet-vertical) {
    width: 32px;
    height: 32px;
  }
}

.gridElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technicalConsulting {
  grid-area: t;

  @media (--tablet-landscape) {
    margin-right: 34px;
  }
}

.finTech {
  grid-area: f;
}

.blockchain {
  grid-area: b;

  @media (--tablet-landscape) {
    margin-right: 20px;
  }
}

.startups {
  grid-area: s;

  @media (--tablet-landscape) {
    justify-content: start;
  }
}

.cloud {
  grid-area: c;

  @media (--tablet-landscape) {
    justify-content: end;
  }
}

.machine {
  grid-area: m;

  @media (--tablet-landscape) {
    margin-left: 34px;
  }
}

.partners {
  position: absolute;
  bottom: 0;
  width: 1440px;
}

.arrowScroll {
  position: absolute;
  width: 46px;
  height: 20px;
  bottom: 18px;
  left: calc(50% - 23px);
  cursor: pointer;

  & path {
    transition: .3s;
  }

  &:hover path {
    fill: var(--orange);
  }
}

.grid {
  bottom: 0;
  position: absolute;
  opacity: .3;
}