.button {
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 137%;
  padding: 7px 16px;
  border: none;
  background: var(--button-gradient-primary);
  border-radius: 20px;
}

.mask {
  display: flex;
  overflow: hidden;
}

.text {
  position: relative;
}

.alt {
  background: var(--button-gradient-secondary);
}

.centeredText .mask {
  justify-content: center;
}

@media screen and (min-width: --desktop) {
  .button:hover .text {
    animation: flip;
    animation-duration: 0.5s;
  }
}

@keyframes flip {
  0% {
    top: 0;
  }
  50% {
    top: -30px;
  }
  51% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}
