.wrapper {
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--dark);
  transition: .3s;
  color: var(--light);
  &.light {
    background-color: white;
    color: var(--dark);
  }
}

.root {
  width: 100%;
  max-width: 1440px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  line-height: calc(11/8);

  @media (--tablet-vertical) {
    padding: 0 32px;
    height: 72px;
  }

  @media (--tablet-landscape) {
    padding: 0 60px;
  }

  @media (--desktop) {
    padding: 0 120px;
  }
}

.logo {
  width: 145px;
  height: 28px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
}

.contactUs {
  background-color: var(--purple);
  height: 36px;
  width: 117px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: .2s;
  color: var(--light);

  &:hover {
    background-color: var(--purple-hover);
  }
}

.navButton {
  font-weight: 400;
  margin-right: 48px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: var(--orange);
  }
}
