.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
  color: var(--light);
  padding-top: 13px;
  top: 0;

  &.scrolled {
    padding-top: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(1, 3, 5, 0.3);
  }
}

.root {
  width: 100%;
  max-width: 1440px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (--tablet-vertical) {
    height: 72px;
  }
}

.logo {
  z-index: 1;
  width: 145px;
  height: 28px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;

  @media (--desktop) {
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }
}

.navButton {
  padding: 21px 30px 19px;
  text-align: start;
  margin: 0;
  background-image: url('/icons/tick.svg');
  background-repeat: no-repeat;
  background-position: center right 30px;

  @media (--tablet-landscape) {
    padding: 21px 60px 19px;
    background-position: center right 60px;
  }

  @media (--desktop) {
    padding: 0;
    text-align: center;
    background-image: none;
    overflow: hidden;
  }
}

.navButton:active {
  background-color: rgba(255, 255, 255, 0.05);
  background-image: none;

  @media (--desktop) {
    background-color: transparent;
  }
}

.navButton:hover {
  @media (--desktop) {
    & .navButtonLink {
      position: relative;
      animation: flip;
      animation-duration: 0.5s;
    }
  }
}

.contactUs {
  margin: 0 30px;
  padding: 12px 24px;

  @media (--tablet-landscape) {
    margin: 0 60px;
  }

  @media (--desktop) {
    margin: 0;
  }
}

.menuToggler {
  z-index: 1;
  background: transparent;
  border: 1px solid var(--white);

  @media (--desktop) {
    display: none;
  }
}

.mobileMenu {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -100vh;
  left: 0;
  right: 0;
  padding: 150px 0 110px;
  background-color: var(--background);
  transition: all 0.5s;
  height: 100vh;

  @media (--desktop) {
    display: none;
  }
}

.opened .mobileMenu {
  top: 0;
}

.opened .menuToggler {
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
  background-image: url('/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundCircle {
  top: 110px;
  left: 20px;
  transform: translate3d(0, 0, 0) rotate(-30deg);

  @media (--tablet-vertical) {
    top: 50px;
    left: auto;
    right: -352px;
  }

  @media (--desktop) {
    display: none;
  }
}

@keyframes flip {
  0% {
    top: 0;
  }
  30% {
    top: -30px;
  }
  31% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}
