.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media (--tablet-vertical) {
    padding: 0 30px;
  }

  @media (--tablet-landscape) {
    padding: 0 60px;
  }

  @media (--desktop) {
    padding: 0 120px;
  }
}
